@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.primaryButton {
  padding: $space-0;
  border: none;
  background-color: var(--color-blue);
  border-radius: $base_unit / 1.5;
  outline: none;
  color: white;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.3s;
  @include sm {
    font-size: $font-xs;
    margin: $space-1;
  }
  @include xs {
    font-size: $font-xxs;
  }

  &:hover {
    transition: ease-in-out;
    background-color: var(--color-light-blue);
    transition-duration: 0.3s;
  }
}
