@import "../../assets/scss/variables";

.restaurantList {
  margin-top: $base_unit * 15;
  z-index: 0;
  position: absolute;
  background-color: var(--color-light-grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
